.texto {
    width: 200px;
    height: 1400px;
    overflow: auto;
    background-color: #CCC;
    padding: 20px;
    border: 2px solid #F00;
}

.scroll-button {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #F00;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}